<!DOCTYPE html>
<html>
  <head>
    <title>Thing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./main.js"></script>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
